In [1]:
# Python and Data
'''
csv : 2d
json : 2d+
parquet : column oriented formats
'''

'\ncsv : 2d\njson : 2d+\nparquet : column oriented formats\n'

In [2]:
import csv

In [3]:
# Open file
f = open('./titanic.csv')
# read csv file and store it as opaque object in reader variable
reader = csv.reader(f)
# list(reader)

In [4]:
# next() is used to increase the pointer by one and return the row at which the pointer was previously
header = next(reader)
print(header)

['Survived', 'Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']

In [5]:
# Count total number of people survived.
count = 0
for row in reader:
    if row[0] == "1":
        count+=1
print(f"Total {count} no. of people survived.")

Total 342 no. of people survived.

In [6]:
# JSON

In [7]:
import json

In [8]:
f = open("./titanic.json")
titanic = json.load(f)

In [9]:
type(titanic)

list

In [10]:
# Pandas

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import sklearn

In [12]:
df = pd.read_csv('titanic.csv')

In [13]:
df.size

6209

In [14]:
df.shape

(887, 7)

In [15]:
df.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500