In [1]:
# Python and Data
'''
csv : 2d
json : 2d+
parquet : column oriented formats
'''

'\ncsv : 2d\njson : 2d+\nparquet : column oriented formats\n'

In [20]:
import csv

In [21]:
# Open file
f = open('./titanic.csv')
# read csv file and store it as opaque object in reader variable
reader = csv.reader(f)
# list(reader)

In [22]:
# next() is used to increase the pointer by one and return the row at which the pointer was previously
header = next(reader)
print(header)

['Survived', 'Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']

In [23]:
# Count total number of people survived.
count = 0
for row in reader:
    if row[0] == "1":
        count+=1
print(f"Total {count} no. of people survived.")

Total 342 no. of people survived.

In [ ]:
# JSON

In [24]:
import json

In [27]:
f = open("./titanic.json")
titanic = json.load(f)

In [28]:
type(titanic)

list